// Colors

$links: #00c4c5;
$links_text: #ffffff; 

//Global Styles

body { 
	font-size: 16px;
  line-height: 1.5rem; // 24/16
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #666666;
	background-color: #ebebeb;
      background-image: url("../images/bg-fundo.jpg");
  background-position: center 73px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.internal {
    background-image: initial
  }
}



*,*:after,*:before {
  @include box-sizing(border-box);
}

// Font Oswald
$family-oswald : 'Oswald', sans-serif;

// Typographic
p, ul {
	// font-size: 1.125rem; // 18÷16 
	// line-height: 2.61111111rem; // 47÷18
}

p {
  margin-bottom: 20px;
}

a {
	color: $links;
}

// Images

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

//Title

h1 {
  color: $links;
  font-size: 1.5625rem; // 25/16
  margin-bottom: .8em; 
  font-weight: bold;
}


h1 {
   color: #00c4c5 ;
   font-family: 'Droid Sans', sans-serif;
   font-size: 2rem;
   margin-bottom: .8em;
   font-weight: bold;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 600;
  font-size: larger;
  margin-bottom: .8em;
}

ul {
   list-style: inherit;
   margin-left: 19px;
   margin-bottom: .8em;
}

hr {
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $links;
}

.divisor {
  background-color: #ebebeb;
  height: 20px;
  position: relative;
  margin-top: 3em;

  &:before, &:after {
    content: "";
    width: 50px;
    height: 20px;
    background-color: #ebebeb;
    top: 0;
    position: absolute;
  }

   &:before {
    left: -48px;
   }
   &:after{
    right: -48px;
   }
}