.main-header {
	background-color: #ebebeb;
	width: 100%;
}

.header-wrap{
	text-align: center;
	padding: 20px 0;	
	
	position: relative;
}

.ixda-logo {
	display:inline-block;
	width: 100px;
  margin: 0;
}
