body{
    position: relative;
    margin: 0 auto;
}

main {

	padding: 0 1rem 0 1rem;
  position: relative;
}

.entry-bg-page {
  width: 100%;
  background: url("../images/bg-fundo.jpg");
  overflow: hidden;
  display: table;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  .btn-one {
    display: block;
  }
}

.text-hero {
    padding: 2rem 1rem;
    display: table-cell;
  
    p {
      font-family: 'Droid Sans', sans-serif;
      font-size: 23px;
      line-height: 40px;
      font-weight: bold;
      color: #fff;
      vertical-align: middle;
    }
}

.hero-action {
  text-align: center;
  margin: 0;
}

.internal-page {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: auto;
  z-index: 1;
  margin: 0 auto 20px auto; 
  padding:3rem; 
}
