.membros {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  margin: 0;
  a {
    text-decoration: none;
  }

  .membro {
    width: 100px;
    display:inline-block;
    vertical-align: text-top;
    margin: 0 1.1em 2em 1.1em;
  }

  .nome {
    color: $links;
  }
  .cadeira {
  
  }
  .thumbnail {
    margin-bottom: 15px;
    border: solid 2px $links;
    @include border-radius(50%);
  }
  .ocupacacao {}
  .contato {}
}
