<h1 class="ixda-logo"><a href="/" title=""><img src="/images/ixda-logo.svg"/></a></h1>

<button class="menu-humburger">
	<span id="morph-shape" class="morph-shape" data-morph-open="M3,20c0,0,12-4,27-4s27,4,27,4;M3,60c0,0,12,4,27,4s27-4,27-4" data-morph-close="M3,20c0,0,12,4,27,4s27-4,27-4;M3,60c0,0,12-4,27-4s27,4,27,4">
		<svg width="100%" height="100%" viewBox="0 0 60 80" preserveAspectRatio="none">
			<path d="M3,20c0,0,12,0,27,0s27,0,27,0"></path>
			<line x1="3" y1="40" x2="57" y2="40"></line>
			<path d="M3,60c0,0,12,0,27,0s27,0,27,0"></path>
		<desc>Created with Snap</desc><defs></defs></svg>
	</span>
</button>
