<div class="entry-bg-page">
	<div class="text-hero">
	<h1 class="hero-title">Capítulo de São Paulo da Associação Internacional de Design de Interação</h1>

	<div class="hero-content">
		<aside class="hero-content-left">
		<p>Acreditamos que a condição humana cada vez mais é afetada por experiências ruins. A IxDA tem a intenção de melhorar a condição humana pelo avanço da disciplina de Design
	de Interação. </p>

	<p>Para fazer isso, estamos promovendo uma comunidade de pessoas com interesses comum para se unir e apoiar esta intenção.
	IxDA depende da iniciativa individual, a contribuição, compartilhamento e auto-organização como o principal meio para que possamos alcançar nossos objetivos.</p>	

  <p><a href="https://www.facebook.com/IxDA-S%C3%A3o-Paulo-213701202031804/?fref=ts" target="_blank" title="IxDA no Facebook">IxDA no Facebook</a></p>
		</aside>

		<aside class="hero-content-right">
			{% include form.html %}
		</aside>
	</div>
	
	</div>
</div>
