<div class="wrapper-menu-hamburger">
  <button class="close-menu">X</button>

	<ol class="main-menu">
		<li><a href="/" title="IXDA SP">Home</a></li>
		<li class="active"><a href="/o-que-e-ixda" title="O QUE É IxDA">O que é IxDA</a></li>
		<li><a href="/membros" title="Membros">Membros</a></li>
	</ol>

	<a class="btn-two" href="/participe">PARTICIPE</a>
	
	<div class="nav-footer">
		<ol class="second-menu">
			<li><a href="/termos-e-condicoes" title="Termos e Condições">TERMOS E CONDIÇÕES</a></li>
		</ol>
		<p>© 2004-2014 - Interaction Design Association</p>
	</div>
</div>
