<div class="wrapper-menu-hamburger">
  <button class="close-menu">X</button>

	<ol class="main-menu">
		<li><a href="/" title="IXDA SP">IXDA SP</a></li>
		<li><a href="/o-que-e-ixda" title="O QUE É IxDA">O QUE É IxDA</a></li>
		<li><a href="/membros" title="Membros">MEMBROS</a></li>
		<li><a href="/agenda" title="Agenda">AGENDA</a></li>
	</ol>

	<a class="btn-two" href="/participe">PARTICIPE</a>
	
	<div class="nav-footer">
		<ol class="second-menu">
			<li><a href="/fale-conosco" title="Fale Conosco">FALE CONOSCO</a></li>
			<li>|</li>
			<li><a href="/termos-e-condicoes" title="Termos e Condições">TERMOS E CONDIÇÕES</a></li>
		</ol>
		<p>© 2004-2014 - Interaction Design Association</p>
	</div>
</div>
